img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    /* border: 1px solid black; */
    border-radius: 50%;
    
}

.img-container{
    width: 200px;
    /* height: 200px; */
    overflow: hidden;
    border: 1px solid transparent;
    /* border-radius: 50%; */
    margin-inline: 62px;
    margin-top: 25px;
    padding-top: 0px;
}

.person{
    background-color:#00a8ff;
    border: 1px solid transparent;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 1px 2px 8px 0px #005f8f8e;
    /* padding-top: 5px; */
    color: #222c42;
    transition: .2s;
}


.role{
    padding-inline: 10px;
}

.person-info span{
    font-weight: 800;
}


.person-info p{
    font-weight: 500;
}

button{
    background-color:#353b48;
    font-weight: 600;
    width: 200px;
    height: 30px;
    border: 1px solid transparent;
    border-radius: 5px;
    margin-bottom: 10px;
    color: white;
    transition: .2s;
}


button:hover{
    color: rgb(214, 214, 214);
}